:root {
  --font-family: IRANSans, "Open Sans", sans-serif;
  --color-primary: #df0f50;
  --color-secondry: #05a3e8;
  --color-text: #484b62;
  --color-background: #ffffff;
  --color-success: #00b96c;
  --color-danger: #df0f50;
}
