.Timeline {
    padding: {
        top: calc(var(--header-size) + var(--gap-size));
        left: var(--gap-size);
        right: var(--gap-size);
        bottom: var(--gap-size);
    }
    overflow: {
        x: hidden;
        y: scroll;
    }
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    scroll-snap-type: y mandatory;
    scroll-padding-top: calc(var(--header-size) + var(--gap-size));
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}
