.Timeline {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: calc(50px + 2rem) 2rem 1rem;

    scroll-padding-top: calc(50px + 2rem);


    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}
