.Video {
    width: 100%;
}

.VideoWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &:hover {
        .Controls {
            transform: translateY(0%);
        }
    }
}

.Controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 30px;
    padding: 14px;
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transform: translateY(150%);
    transition: all 0.3s ease-in-out;
}

.Actions {
    button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        i {
            background-color: transparent;
            color: white;
            font-size: 30px;
        }
    }
}

.SeekBar {
    -webkit-appearance: none !important;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    height: 4px;
    width: 350px;

    &::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        cursor: pointer;
        height: 6px;
    }

    &::-moz-range-progress {
        background: white;
    }
}

.Velocity {
    appearance: none;
    background: none;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    font-size: 16px;
}

.MuteBtn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    i {
        background-color: transparent;
        color: white;
        font-size: 20px;
    }
}
